body {
  background-image: url("background.png");
  background-size: 180px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

h1 {
  font-family: comic sans ms;
  font-size: 60px;
  color: darkblue;
  text-align: center;
}

h4 {
  text-align: right;
  font-style: oblique;
  text-align: center;
}
h3 {
  text-align: center;
}
p {
  text-align: center;
}
.D {
  color: white;
}

.E {
  color: orange;
}

.D:hover {
  color: rgb(255, 38, 38);
  background-color: transparent;
}

a:hover {
  color: white;
  background-color: blue;
  text-decoration: underline;
}

.B {
  font-weight: bold;
}
